@model IEnumerable<Tuple<string, string>>

@Page.Title
<h4>The daily market graph has not been put up yet; historical graphs avaliable below:<br /></h4>
<ul class="list-group">
    @foreach (var entry in Model ?? Enumerable.Empty<Tuple<string, string>>())
    {
        DateTime date;
        DateTime.TryParseExact(@entry.Item1, "yyyyMMddHHmmssfff", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out date);
        <li class="list-group-item"><a href="@Url.Action("Index","Roberto", new { id = @entry.Item2 })"> @date.ToString()</a></li>
    }
</ul>